@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.primary-heading {
  text-align: center;
  margin: 0 0 20px;
}

.form-description {
  text-align: center;
  margin-top: -40px;
}

img {
  text-align: center;
  max-height: 300px;
}
